<!doctype html>
<html>
   <head>
      <meta charset= "UTF-8">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="Stylesheet" href="../css/index.css">
      <title>Maps</title>
      <link rel="stylesheet" href="https://js.arcgis.com/4.5/esri/css/main.css">
      <script src="https://js.arcgis.com/4.5/"></script>
      <script src="../js/index.js"></script>
   </head>
   <body>
      <div id="viewDiv">
         <div id="topbar">
            <button class="action-button esri-icon-map-pin" id="pointButton" type="button" title="Desenhar Pontos"></button>
            <button class="action-button esri-icon-polyline" id="polylineButton" type="button" title="Desenhar Trajetória"></button>
            <button class="action-button esri-icon-polygon" id="polygonButton" type="button" title="Desenhar Àrea"></button>
            <button class="action-button esri-icon-trash" id="resetBtn" type="button" title="Apagar Gráficos"></button>
         </div>
      </div>
   </body>
</html>